<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Url Shortner</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
<style>
  html,
  body {
    height: 100%;
  }

  body {
    color:snow;
    background-color: whitesmoke;
  }
  #Uparwala{
    text-align: center;
    background-color: cadetblue;
    margin: 20px;
    padding: 30px;
  }
  #table_wrapper{
    align-content: center;
    align-items: center;
    margin-left: 10%;
  }
  .table{
    align-self: center;
    width: 90%;
    color: black;
  }
  a,
  a:focus,
  a:hover {
    color: cadetblue;
    text-decoration: underline;
  }

  .site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
  }
  .butt{
    background-color: snow;
  }
  #url-list li{
    background-color: snow;
    padding: 5px;
    margin: 2px;
    color: cadetblue;
    width: 100%;
  }
  #url-list{
    margin-top: 5px;
  }
  .notification{
    background-color: salmon;
    width: 100%;
  }
  #notification {
    visibility: hidden;
  }
  header,
  main,
  footer {
    padding: 2rem;
  }

  main { vertical-align: middle; }

  footer {
    vertical-align: bottom;
    color: #aaa;
  }

  .nav a { color: #aaa; }
  .nav a:hover { color: #fff; }

  /* Layout tweaks for desktop size */
  @media (min-width: 56em) {
    .site-wrapper {
      width: 48em;
      margin: 0 auto;
    }

    header .brand {
      float: left;
      margin-bottom: 0;
    }

    header .nav { float: right; }

    .header-wrapper,
    .main-wrapper,
    .footer-wrapper {
      display: table-row;
    }

    header,
    main,
    footer {
      display: table-cell;
    }
  }
</style>
</head>
<body>

<script>/**
     * Created by lakshya on 5/19/18.
     */
    const array = new Array();
    var pattern = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
    function addList() {


        var url = document.getElementById("url").value;
        var http = /^https?:\/\//i;
        if (!http.test(url)) {
            url = 'http://' + url;
        }
        console.log(url);
        if(pattern.test(url)) {
            if(!array.includes(url)) {
                array.push(url);
                var list = document.getElementById("url-list");
                list.innerHTML += "<li>" + url + "</li>";
                document.getElementById("url").value="";
            }
            else{
                showError("URL ALREADY IN THE LIST!");
                setTimeout(hideError, 2000);
            }
        }
        else{
            console.log("Invalid url");
            showError("Invalid URL");
            setTimeout(hideError, 2000);
        }
    }


    function showError(error) {
        var notification = document.getElementById("notification ");
        notification.innerHTML=error;
        notification.style.visibility = "visible";
    }
    function hideError() {
        var notification = document.getElementById("notification ");
        notification.style.visibility = "hidden";
    }
    function sendUrls() {
        var url = document.getElementById("url").value;
        document.getElementById("url").value="";
        var list = document.getElementById("url-list").innerHTML = "";


        var http = /^https?:\/\//i;
        if (!http.test(url)) {
            url = 'http://' + url;
        }
        console.log(url);
        if(pattern.test(url)) {
            if (!array.includes(url)) {
                array.push(url);
                //Send the array

            }
        }
        if(!array.isEmpty){
            $.post("/shorten",
                {
                    urls:JSON.stringify(array)
                },
                function(data, status){
                    location.reload();
                    alert("Data: " + data + "\nStatus: " + status);
                });
        }

    }</script>
<div id="Uparwala">
<h1>
  Shorten your links.
</h1>

<p class="lead">
  Paste a long URL below and I'll shorten it for you.
</p>
<div class="notification" id= "notification ">

</div>
<form action="/shorten" method="post">
  <div class="input-group btn-group">
    <input type="text" class="form-control form-control-lg" name="url" placeholder="Your long URL here" id="url">

      <span class="butt input-group-btn">
    <button class="btn btn-outline-primary btn-lg" type="button" onclick="addList()"><i class="fas fa-plus-circle"></i> </button> &nbsp;
      </span>
    <span class="butt input-group-btn">
      <button class="btn btn-outline-success btn-lg" type="button" onclick="sendUrls()">Go!</button>
		</span>
  </div>
</form>

<div>
  <ul id="url-list"></ul>
</div>
</div>
<div id="table_wrapper">
  <table class="table table-striped">
    <tr>
      <th>Original URL</th>
      <th>Created</th>
      <th>Short URL</th>
      <th>All Clicks</th>
    </tr>
      <% data.urls.forEach(function(drink) {
        var shorturl = "https://sheltered-caverns-41858.herokuapp.com/" + drink.code;
      %>
    <tr>
      <td><%= drink.longurl %> </td>
      <td><%= drink.time %></td>
      <td><a href="<%= shorturl %>" target="_blank" onclick="window.location.reload(true)"> <%= shorturl %></a> </td>
      <td> <%= drink.hits %> </td>
    </tr>
      <% }); %>
  </table>

</div>
</body>
</html>